body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.about-text{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #303030;
}
.about-text2{
    font-size: 20px;
    font-family: 'arial', Tahoma, Geneva, Verdana, sans-serif;
    color: #303030;
}

.morph {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
     -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
     transition: all 1s ease;
  }
  
  .morph:hover {
    border: 10px solid rgba(185, 226, 240, 0.842);
     border-radius: 30%;
    -webkit-box-shadow: 0 0 40px rgba(128, 115, 115), inset 0 0 40px rgba(128, 115, 115);
    -moz-box-shadow: 0 0 40px rgba(128, 115, 115), inset 0 0 40px rgb(128, 115, 115);
    box-shadow: 0 0 40px rgba(128, 115, 115), inset 0 0 40px rgba(128, 115, 115);
  
  }
  .services1232{
      background: #303030;
  }
.box-skill{
    border-bottom: 2px gray solid;
    border-top: 2px gray solid;
    padding:15px;

}
.div-list-skills{
    /* background:#90a6aad7; */
    padding: 10px;
    color: white;
}
.skill-header1{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    /* text-shadow: 2px 2px lightblue; */
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-align: center;
    /* margin-top: 40px; */
    /* padding-top: 30px; */
    border-bottom: 2px solid lightskyblue;
}
.skill-header6{
    color: rgb(39, 27, 27);
    font-size: 26px;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    /* text-shadow: 2px 2px lightblue; */
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-align: center;
    /* margin-top: 40px; */
    /* padding-top: 30px; */
    border-bottom: 2px solid lightskyblue;
}
.skill-header{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    /* text-shadow: 2px 2px lightblue; */
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-align: center;
    margin-top: 80px;
    /* padding-top: 30px; */
    border-bottom: 2px solid lightskyblue;
}
.image-skills-symbols{
    max-width: 5em;
    font-size: 60px;

}
.image-skills-symbols2{
    max-width: 3em;
    font-size: 40px;
    color: white;
}
.image-skills-symbols3{
    max-width: 5em;
    font-size: 20px;
}
.devicon-git-plain {
    max-width: 2em;
  }
  
  /* if you want to change the original color */
  .devicon-git-plain path {
    fill: #4691f6;
  }
.heading-skills{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #303030;
}
.text-skills{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.img-about{
    border-radius: 50%;
    /* background-size: cover; */

}
.image-cropper {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
margin-top: 50px;
}

.image-cropper:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.profile-pic {
  /* display: inline; */
  margin: 0 auto;
  margin-left: -25%; 
  height: 100%;
  width: auto;
  
}
.textdis{
    height: 600px;
}
.jumbotron {
    /* background-color: #303030; */
    background-image: url("../Images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}

.bg-grey2 {
    background-color: #303030;
    color: white;
}
.logo-small {
    color: #303030;
    font-size: 50px;
}
.logo {
    color: #303030;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #303030;
}
.carousel-indicators li {
    border-color: #303030;
}
.carousel-indicators li.active {
    background-color: #303030;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #303030; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #303030;
    background-color: #fff !important;
    color: #303030;
}
.panel-heading {
    color: #fff !important;
    background-color: #303030 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #303030;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #303030;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #303030 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #303030;
}

h5 {
    font-weight: 100;
    font-size: 30px;
    margin: 0;
    padding: 30px;
    /* text-transform: uppercase; */
  }
  h5 span {
    display: inline-block;
    transition: -webkit-transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
    transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
    transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1), -webkit-transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
    -webkit-transform: translate(20%, 100%);
            transform: translate(20%, 100%);
    position: relative;
    z-index: 1;
    letter-spacing: -0.01em;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
  }
  h5 span:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    transition: -webkit-transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
    transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
    transition: transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1), -webkit-transform 0.6s cubic-bezier(0.65, 0.02, 0.23, 1);
  }
  h5 span.row {
    overflow: hidden;
    line-height: 2;
    display: block;
    -webkit-transform: none;
            transform: none;
  }
  h5 span.row:before {
    display: none;
  }
  h5 .animate {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  h5 .animate:before {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  .btn-wrapper {
    width: 290px;
    height: 110px;
    position: relative;
    margin: 40px auto 0;
  }
  .btn-wrapper:hover .btn-inner {
    top: -4px;
    transform: scale(1, 1);
    cursor: pointer;
  }
  .btn-wrapper__container {
    border-bottom: 2px solid #15B5E2;
    position: absolute;
    width: 100%;
    height: 80px;
  }
  .btn-wrapper__container:before, .btn-wrapper__container:after {
    border-bottom: 2px solid #15B5E2;
    width: 96%;
    left: 2%;
    bottom: -8px;
    content: "";
    position: absolute;
  }
  .btn-wrapper__container:after {
    width: 92%;
    left: 4%;
    bottom: -14px;
  }
  .btn-wrapper__container .btn-inner {
    width: 104.2%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: -2.1%;
    border: 2px solid #15B5E2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    font-size: 18px;
    background: #10131C;
    transform: scale(0.96, 0.96);
    transition: all .3s;
    z-index: 4;
  }
  .btn-wrapper__container .btn-inner__text {
    text-decoration: none;
    color: #15B5E2;
  }
  

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bor-dox{
    -moz-box-shadow:    3px 3px 5px 6px rgb(158, 149, 149);
    -webkit-box-shadow: 3px 3px 5px 6px rgb(158, 149, 149);
    box-shadow:         3px 3px 5px 6px rgb(158, 149, 149);

}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
    color: white;
    font-style: italic ;
    font-weight: bold;
}
.contact-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color:white;
    text-align: center;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


figure.effect-layla {
    background: rgba(0, 0, 0, 0.575);
}

figure.effect-layla img {
    height: 390px;
    opacity: 0.5;
}

figure.effect-layla figcaption {
    padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}

figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

figure.effect-layla h2 {
    padding-top: 10%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-layla p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}


@media screen and (max-width : 400px)
{
    h5 {
        font-weight: 100;
        font-size:11px;
        margin: 0;
        padding: 30px;
        /* text-transform: uppercase; */
      }
      .image-cropper {
        width: 350px;
        height: 350px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
      

}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.2s 0.4s ease-in-out;
    transition: all 0.2s 0.4s ease-in-out;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 40px 0 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  
  .hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  
  .hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }








@media screen and (max-width : 800px) and (min-width : 401px)
{
    h5 {
        font-weight: 100;
        font-size:15px;
        margin: 0;
        padding: 30px;
        /* text-transform: uppercase; */
      }
      .image-cropper {
        width: 350px;
        height: 350px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
      

}